.b-sitemap{
    width: 100%;
    position: relative;
    background: rgb(238, 238, 238);
    display: flex;
}

.b-sitemap__content{
    margin: 0 auto;
    width: 960px;
    padding: 30px 0 20px;
}

.b-sitemap__content__section{
    padding-right: 15px;
    width: 176px;
    float: left;
    position: relative;
}

.b-sitemap__h4{
    margin: 0 0 10px 0;
    font-family: 'FranklinGothicFSDemiCondensed', Arial, sans-serif;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px dotted #ccc;
    display: inline-block;
}

.b-sitemap__li{
    list-style-type: none;
    font-size: 14px;
    color: #555;
    padding: 2px 0;
    cursor: pointer;
}

.b-sitemap__li:hover{
    text-decoration: underline;
}

.b-sitemap__phone{
    font-family: 'FranklinGothicFSDemiCondensed', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #999;
}

.b-sitemap__mailupdates {
    display: inline-block;
    background: #fff;
    padding: 6px 6px 6px 8px;
    width: 250px;
    border: solid 1px #bcbbbb;
    outline: none;

    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;

    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

.b-sitemap__mailupdates input
{
    font: normal 12px/100% Arial, Helvetica, sans-serif;
    color: #a0a0a0;
}

.b-sitemap__mailupdates .b-sitemap__field
{
    width: 200px;
    background: #fff;
    border: none;
    outline: none;
}

.b-sitemap__mailupdates .b-sitemap__button
{
    color: #00aeef;
    font-weight: bold;
    border: none;
    border-left: 1px solid #ccc;
    font-size: 11px;
    background: none;
    float: right;
    margin-top: 5px;
    padding: 0 10px;
}

.icon
{
    cursor: pointer;
    width: 15px;
    height: 15px;
    float: right;
    background: url('images/s.png') no-repeat;
    margin-top: 2px;
}

.link
{
    width: 150px;
    float: left;
    margin: 0;
}

.link a
{
    color: #00aeef;
    font-family: 'FranklinGothicFSDemiCondensed', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration:none;
    margin: 0;
}

.link a:hover
{ text-decoration: underline; }
